In [3]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [85]:
df = pd.read_csv("../data/adult.csv")
new_df = df.dropna()
new_df.set_index("Unnamed: 0", inplace=True)
new_df.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
Unnamed: 0,,,,,,,,,,,,
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25

# Task 1
Print the count of men and women in the dataset.

In [9]:
new_df["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

# Task 2
Find the average age of men in dataset

In [11]:
new_df["age"].where(new_df["sex"] == "Male").mean()

39.43354749885268

# Task 3
Get the percentage of people from Poland (native-country)

In [25]:
perc = new_df[new_df["native-country"] == "Poland"].count() * 100 / new_df["native-country"].count()
perc[0]

0.18426952489174164

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [30]:
print(new_df["age"][new_df["salary K$"] > 50].mean())
print(new_df["age"][new_df["salary K$"] > 50].std())
print(new_df["age"][new_df["salary K$"] < 50].mean())
print(new_df["age"][new_df["salary K$"] < 50].std())

44.24984058155847
10.51902771985177
36.78373786407767
14.020088490824813

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [86]:
new_df[(new_df["education"].isin(["Bachelors", "Prof-school" "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])) & (new_df["salary K$"] > 50)]

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
Unnamed: 0,,,,,,,,,,,,
8,31,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,>50K,330
9,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K,303
11,30,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,40,India,>50K,279
14,40,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,40,?,>50K,325
19,43,Self-emp-not-inc,Masters,Divorced,Exec-managerial,Unmarried,White,Female,45,United-States,>50K,151
...,...,...,...,...,...,...,...,...,...,...,...,...
32533,54,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,50,Japan,>50K,347
32536,34,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Female,55,United-States,>50K,260
32538,38,Private,Bachelors,Divorced,Prof-specialty,Unmarried,Black,Female,45,United-States,>50K,248
32539,71,?,Doctorate,Married-civ-spouse,?,Husband,White,Male,10,United-States,>50K,62
32554,53,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K,103

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [59]:
new_df.groupby("education")["age"].describe()

                count       mean        std   min    25%   50%   75%   max
education
10th            933.0  37.429796  16.720713  17.0  22.00  34.0  52.0  90.0
11th           1175.0  32.355745  15.545485  17.0  18.00  28.0  43.0  90.0
12th            433.0  32.000000  14.334625  17.0  19.00  28.0  41.0  79.0
1st-4th         168.0  46.142857  15.615625  19.0  33.00  46.0  57.0  90.0
5th-6th         333.0  42.885886  15.557285  17.0  29.00  42.0  54.0  84.0
7th-8th         646.0  48.445820  16.092350  17.0  34.25  50.0  61.0  90.0
9th             514.0  41.060311  15.946862  17.0  28.00  39.0  54.0  90.0
Assoc-acdm     1067.0  37.381443  11.095177  19.0  29.00  36.0  44.0  90.0
Assoc-voc      1382.0  38.553546  11.631300  19.0  30.00  37.0  46.0  84.0
Bachelors      5355.0  38.904949  11.912210  19.0  29.00  37.0  46.0  90.0
Doctorate       413.0  47.702179  11.784716  24.0  39.00  47.0  55.0  80.0
HS-grad       10501.0  38.974479  13.541524  17.0  28.00  37.0  48.0  90.0
Masters        1723.0  44.049913  11.068935  18.0  36.00  43.0  51.0  90.0
Preschool        51.0  42.764706  15.126914  19.0  31.00  41.0  53.5  75.0
Prof-school     576.0  44.746528  11.962477  25.0  36.00  43.0  51.0  90.0
Some-college   7291.0  35.756275  13.474051  17.0  24.00  34.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [77]:
print(new_df[(new_df["marital-status"].str.contains("Married").any()) & (new_df["salary K$"] < 50)].count()[0])
print(new_df[(new_df["marital-status"].str.contains("Married").any()) & (new_df["salary K$"] > 50)].count()[0])
print(new_df[(new_df["marital-status"] != "Married") & (new_df["salary K$"] < 50)].count()[0])
print(new_df[(new_df["marital-status"] != "Married") & (new_df["salary K$"] > 50)].count()[0])

24720
7841
24720
7841

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [90]:
print(new_df["hours-per-week"].max())
print(new_df["hours-per-week"].value_counts())

99
40    15217
50     2819
45     1824
60     1475
35     1297
      ...
82        1
92        1
87        1
74        1
94        1
Name: hours-per-week, Length: 94, dtype: int64

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [91]:
new_df.corr()

                     age  hours-per-week  salary K$
age             1.000000        0.068756   0.201774
hours-per-week  0.068756        1.000000   0.196916
salary K$       0.201774        0.196916   1.000000